@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    box-sizing: border-box;
}

body {
    margin: 20px;
    background-color: #333;
  	font-family: 'Nunito',sans-serif;
}

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input-tab {
    background-color: #333;
    color: white;
}
#form-input {
  	background-color: #222222;
  	border: none;
  	border-radius: 4px;
  	font-size: 20px;
  	margin-bottom: 10px;
    padding: 10px;
    padding-right: 50px;
  	color: white;
    font-family: 'Nunito';

    display: block;
}
#lupa-pw {
  	text-decoration: none;
  	color: hsl(46, 100%, 56%);
}
#sign-up {
    text-decoration: none;
    color: hsl(46, 100%, 56%);
}

a{
    display: block;
}

#button-masuk {
  	background-color: hsl(255, 50%, 45%);
  	color: white;
  	border: none;
  	border-radius: 5px;
  	padding: 10px 30px;
  	margin-top: 10px;
    cursor: pointer;
    font-family: 'Nunito';
}
#button-masuk:hover {
    background-color: hsl(255, 50%, 25%);
    color: hsl(0, 0%, 80%);
    cursor: pointer;
}
#lupa-pw:hover {
    text-decoration: underline;
}
#sign-up:hover {
    text-decoration: underline;
}
